$background: lightcyan;

body {
  background-color: $background;
  background-image: url('./img/500.png');
  background-repeat: no-repeat;
  background-position: center;
}

// Testing autoprefixer

::placeholder {
  color: gray;
}

.flex-thing {
  display: flex;
  flex-direction: row;
}

.flex-item {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: flex-end;
}
